.box {
  width: 24%;
  box-shadow: 0 0.75rem 2.088rem rgba(0, 0, 0, 25%);
  border-radius: 8px;
  overflow: hidden;
}
.avt {
  width: 100%;
}
.container {
  padding: 10px 20px;
}
.name {
  color: #a1a1a1;
  margin-bottom: 10px;
}
.icon_box {
  display: flex;
  text-align: center;
  margin-top: 10px;
}
.icon_setting {
  flex: 1;
  padding: 15px;
  border: 2px solid green;
  color: green;
  border-radius: 8px;
}
.icon_delete {
  flex: 1;
  padding: 15px;
  border: 2px solid red;
  color: red;
  border-radius: 8px;
}
