.box {
  width: 24%;
  box-shadow: 0 0.75rem 2.088rem rgba(0, 0, 0, 25%);
  border-radius: 8px;
  overflow: hidden;
}
.avt {
  width: 100%;
  height: 300px;
}
.container {
  padding: 10px 20px;
  min-height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name {
  /* color: #a1a1a1; */
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.icon_box {
  display: flex;
  text-align: center;
  margin-top: 10px;
  gap: 10px;
}
.icon_setting {
  flex: 1;
  padding: 15px;
  border: 2px solid green;
  color: green;
  border-radius: 8px;
}
.icon_delete {
  flex: 1;
  padding: 15px;
  border: 2px solid red;
  color: red;
  border-radius: 8px;
}
