.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.header h1 {
  font-size: 30px;
  margin-bottom: 40px;
}
.container {
  box-shadow: 0 0.75rem 2.088rem rgba(0, 0, 0, 25%);
  border-radius: 16px;
}
.container_head {
  display: flex;
  padding: 15px;

  border-bottom: 1px solid #ccc;
}
.container_ctn {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.inp {
  width: 50%;
}
