.header {
  display: flex;
  /* align-items: center; */
  justify-content: right;
  /* padding: 40px; */
  gap: 20px;
  padding-top: 30px;
  position: relative;
}

.header_img {
  width: 65%;
  height: auto;
}
.header_content {
  padding-top: 90px;
  padding-left: 40px;
  position: absolute;
  z-index: 10;
  width: 42%;
  left: 0;
}
.header_content h1 {
  font-size: 36px;
}
.header_content p {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container {
  margin-top: 60px;
  /* padding: 80px 40px; */
}

.list_item_title {
  text-align: center;
  /* margin: 120px; */
  font-size: 40px;
}
.container_service {
  display: flex;
  gap: 32px;
  justify-content: end;
  padding-right: 80px;
}
.service_box {
  box-shadow: 0 12px 33.4px rgba(0, 0, 0, 25%);
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
  border-radius: 16px;
  width: 20%;
  text-align: center;
}
.service_box i {
  font-size: 45px;
  margin-bottom: 40px;
}
.home_feature {
  padding-top: 150px;
  display: flex;
}
.home_feature p {
  margin-top: 20px;
  margin-bottom: 35px;
}
.home_feature h1 {
  font-size: 36px;
  color: #a27b5c;
}
.feature_content {
  padding: 40px 150px;
}
.dining {
  margin-top: 50px;
  display: flex;
}
.dining_content {
  padding: 150px 0;
}
.dining_content h1 {
  font-size: 36px;
}
.dining_content p {
  margin-top: 20px;
  margin-bottom: 35px;
}
.blog {
  display: flex;
  padding: 100px 0;
}
.blog_content {
  padding-left: 100px;
  padding-top: 100px;
}
.blog_content h1 {
  font-size: 36px;
  color: #a27b5c;
  margin-bottom: 20px;
}
.blog_content p {
  margin-bottom: 40px;
}
.postList {
  padding: 100px 0;
}
