.item_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item_img {
  border-radius: 80px 20px 80px 20px;
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: end;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  transform: translateY(20%);
  position: relative;
  padding: 20px;
}
.item_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.item_img * {
  user-select: none;
  color: #f0f0f0;
}
.item_content {
  padding: 40px 20px;
  padding-top: 100px;
  width: 300px;
  display: flex;
  gap: 10px;
  background-color: #2c3930;
  border-radius: 80px 20px 80px 20px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 25%);
}
.item_content i {
  color: #ffcd05;
}
.item_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
