/* AdminLayout.module.css */

.wrapper {
  /* display: flex;
  min-height: 100vh;
  width: 100%; */
}

.container {
  margin-left: var(--sidebar);
  margin-top: 80px;
  padding: 20px 40px;
}
.container {
  transition: margin-left 0.3s ease;
}
.collapsed {
  margin-left: 0;
}
