.list_container {
  /* display: flex;
  gap: 50px;
  flex-wrap: wrap;
  padding: 20px 0; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.item_container {
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 12px 33.4px rgba(0, 0, 0, 25%);
  background-color: #fff;
}

.item_img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 16px;
}
.item_title {
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.item_des {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
}
.item_content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box_rating {
  display: flex;
  justify-content: space-between;
}
/* .rate {
  display: flex;
  gap: 10px;
}
.rate i {
  color: #ffa629;
} */
.favorite i {
  color: rgb(225, 30, 30);
}
