.item_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.item_img {
  position: absolute;
  top: -30px;
  right: 20px;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: end;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #fcd19c;
  z-index: 2;
  padding: 20px;
}

.item_content {
  position: relative;
  padding: 40px 40px;
  padding-top: 100px;
  width: 400px;
  height: 300px;
  display: flex;
  gap: 10px;
  background-color: #2c3930;
  border-radius: 20px;
  border: 1px solid #2c3930;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 25%);
}
.item_content::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.item_content * {
  user-select: none;
  color: #f0f0f0;
}
.item_content i {
  color: rgb(225, 30, 30);
  font-size: 32px;
}
.item_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  flex: 1;
  overflow: hidden;
  z-index: 2;
  display: flex;
  /* gap: 20px; */
  justify-content: space-between;
  align-items: end;
}
.item_title p {
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  display: inline-block;
  vertical-align: middle;
}
