.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  padding: 50px 0;
  flex: 1;
}

.pagination_button {
  padding: 8px 0;
  width: 50px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #a27b5c;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50%;
}

.pagination_button:hover {
  /* background-color: #f0f0f0; */
}

.pagination_button:disabled {
  display: none;
}

.pagination_button.active {
  background-color: #2c3930;

  /* border-color: #007bff; */
}
