.container {
  width: 100%;
  /* margin: auto; */
  /* text-align: center; */
}
.container p {
  margin-bottom: 10px;
}
.label {
  display: inline-block;
  padding: 10px 60px;
  background: #0e4a3a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 10px 0; */
}
.filename {
  margin-top: 10px;
}
.box_img {
  margin-top: 30px;
  text-align: center;
}
.img {
  /* max-width: 100%; */
  /* height: 500px; */
  width: 500px;
  height: 200px;
  height: auto;
  border: 1px solid #ddd;
}
