/* ToastContainer.module.css */
.toastContainer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999999999999;
  display: flex;
  flex-direction: column;
  gap: 12px; /* Khoảng cách giữa các toast */
}
/* ToastItem.module.css */
.toast {
  background-color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  animation: slideIn 0.3s ease, fadeOut 0.5s ease 2.5s forwards;
  max-width: 300px; /* Điều chỉnh kích thước tối đa của toast */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.closeBtn {
  background: none;
  border: none;
  margin-left: 16px;
  font-size: 18px;
  cursor: pointer;
}
